---
import '../../../global.css'
import Navspriki from '../../../components/spriki-components/Navspriki.astro'
---
<html lang="en">
    <head>
        <title>Summary - Sprikipedia, the Sprig encyclopedia</title>
    </head>
    <body>
        <Navspriki />
        <div class="intro-spriki">
            <h1>Summary</h1>
            <br>
            <p>ALL the docs.</p>
            <ul>
                <li><a href="../../sprikipedia/about/">About</a></li>
                <li><a href="../../sprikipedia/firmware/">Firmware</a></li>
                    <ul>
                        <li><a href="../../sprikipedia/firmware/CircuitPython">CircuitPython</a></li>
                        <li><a href="../../sprikipedia/firmware/hp-trolling">hp-trolling</a></li>
                        <li><a href="../../sprikipedia/firmware/spade">Spade</a></li>
                        <li><a href="../../sprikipedia/firmware/spryg">Spryg</a></li>
                        <li><a href="../../sprikipedia/firmware/trowel">Trowel</a></li>
                    </ul>
                <li><a href="../../sprikipedia/getting-started/">Getting started</a></li>
                <li><a href="../../sprikipedia/hardware/">Hardware</a></li>
                    <ul>
                        <li><a href="../../sprikipedia/hardware/components">Components</a></li>
                        <li><a href="../../sprikipedia/hardware/downloads">Downloads</a></li>
                    </ul>
                <li><a href="../../sprikipedia/logo/">Logo</a></li>
                <li><a href="../../sprikipedia/runbook/">Runbooks</a></li>
                    <ul>
                        <li><a href="../../sprikipedia/runbook/triage">Triage Runbook</a></li>
                        <li><a href="../../sprikipedia/runbook/review">Review Runbook</a></li>
                    </ul>
                <li><a href="../../sprikipedia/summary/">Summary</a> (You're here)</li>
                <li><a href="../../sprikipedia/team/">Team</a></li>
                    <ul>
                        <li><a href="../../sprikipedia/team/community-plataform-contributors">Community Plataform Contributors</a></li>
                        <li><a href="../../sprikipedia/team/hq-staff">HQ Staff</a></li>
                        <li><a href="../../sprikipedia/team/sprig-app-reviewers">Sprig App Reviewers</a></li>
                        <li><a href="../../sprikipedia/team/testers">Testers</a></li>
                    </ul>
                <li><a href="../../sprikipedia/tutorials/">Tutorials</a></li>
            </ul>
        </div>
    </body>
</html>
