---
import '../../../global.css'
import Docs2 from '../../../components/spriki-components/Docs2.astro'
import Navspriki from '../../../components/spriki-components/Navspriki.astro'
---
<html lang="en">
    <head>
        <title>Team - Sprikipedia, the Sprig encyclopedia</title>
    </head>
    <body>
        <Navspriki />
        <div class="intro-spriki">
            <h1>Team</h1>
            <br>
            <p></p>
        </div>
        <div class="docs-preview">
            <Docs2 name="Community Plataform Contributors" description=" " links="team" links2="community-plataform-engineer" />
            <Docs2 name="HQ Staff" description=" " links="team" links2="hq-staff" />
            <Docs2 name="Sprig App Reviewers" description=" " links="team" links2="sprig-app-reviewers" />
            <Docs2 name="Testers" description=" " links="team" links2="testers" />
        </div>
    </body>
</html>
