---
import '../../../global.css'
import Navspriki from '../../../components/spriki-components/Navspriki.astro'
---
<html lang="en">
    <head>
        <title>Sprikipedia logo - Sprikipedia</title>
    </head>
    <body>
        <Navspriki />
        <div class="intro-spriki">       
            <h1>Sprikipedia logo</h1>
            <p>The logo of Sprikipedia is a version of the Wikipedia logo.</p>
            <h2>Design and history</h2>
            <h3>First logo</h3>
            <p>Our first logo was made by <a href="https://github.com/grymmy">Graham Darcey</a>, to our <a href="https://github.com/hackclub/sprig/wiki">wiki on GitHub</a>.</p>
            <img class="logos" src="https://cloud-mtrmwzthu-hack-club-bot.vercel.app/3image.png">
            <h3>Second logo (Actual)</h3>
            <p>This logo was made by <a href="https://github.com/LucasHT22">Lucas Tonini</a>, in the developing of this website with ibis Paint app and Figma.</p>
            <img class="logos" src="https://cloud-mtrmwzthu-hack-club-bot.vercel.app/4frame_19__1_.png">
            <h4>Timelapse and screenshot about the process:</h4>
            <img class="logo" src="https://cloud-e001qn0az-hack-club-bot.vercel.app/020230722_231044.gif">
            <img class="logo" src="https://cloud-mtrmwzthu-hack-club-bot.vercel.app/2image.png">
        </div>
    </body>
</html>
