---
import '../../global.css'
import Docs from '../../components/spriki-components/Docs.astro'
---
<html lang="en">
    <head>
        <title>Sprikipedia, the Sprig encyclopedia</title>
    </head>
    <body>
        <div class="title">
            <img class="logo" src="https://cloud-raeut55pa-hack-club-bot.vercel.app/0group_1__3_.svg">
        </div>
        <div class="docs-preview">
            <Docs name="Summary" description="ALL links to docs" links="summary" />
            <Docs name="About Sprikipedia" description="The history, purpose, everthing" links="about" />
            <Docs name="Logo" description="About our logo" links="logo" />
            <Docs name="Start with Sprig!" description="Starting with Sprig? Here is the perfect place" links="getting-started" />
            <Docs name="Tutorials" description="Step-by-step to make things for your game" links="tutorials" />
            <Docs name="Firmware" description="Spade, Trowel, Spryg..." links="firmware" />
            <Docs name="Hardware" description="Our PCB, components..." links="hardware" />
            <Docs name="Runbooks" description="About our procedures" links="runbook" />
            <Docs name="Team" description="Who make Sprig possible" links="team" />
        </div>
    </body>
</html>
