<style> 
    .docs {
        background-color: yellow;
        padding: 10px;
        margin: 20px;
        width: 300px;
        height: 180px;
        top: 5rem;
        left: 50px;
        color: black;
    }
</style>

<div class="docs">
    <h1>AVALIABLE SOON!</h1>
    <p>Under development</p>
</div>
