<style>
    .nav-img {
        height: 80px;
    }
    
    .nav-bc {
        background-color: #008264;
    }
</style>

<nav class="nav-bc">
    <a href="../../sprikipedia/">
        <img class="nav-img" src="https://cloud-g9bm7zlwr-hack-club-bot.vercel.app/0frame_17__3_.png">
    </a>
</nav>
