---
import '../../../global.css'
import Dev from '../../../components/spriki-components/Dev.astro'
import Navspriki from '../../../components/spriki-components/Navspriki.astro'
---
<html lang="en">
    <head>
        <title>Tutorials - Sprikipedia, the Sprig encyclopedia</title>
    </head>
    <body>
        <Navspriki />
        <div class="intro-spriki">
            <h1>Tutorials</h1>
            <br>
            <p></p>
            <Dev />
        </div>
    </body>
</html>
